.container{
    margin: 20px 20px 20px 20px;
    position: relative;
    left: 5%;
    height: max-content;
    top: 10%;
    gap:20px;
}

.r1{
    height:20%;
    background: #111111;
    
}

.c1{
    display: flex;
    flex-direction: column;
}


.ptag{
    display: flex;
    color: aliceblue;
    width: 30%;
    justify-content: space-between;
    margin-top: 2%;
    font-size: large;
}

.cashnum{
    font-size: 2rem;
    font:bold;
    color: #f6f8fa;
}

.ptag1{
    display: flex;
    color: aliceblue;
    width: 60%;
    justify-content: space-between;
    margin-top: 5%;
    font-size: large;
}

.r2{
    height: 15%;
    background-color: #111111;
}
.r3{
    background: #111111;
    height: 60%;
}




.risk-table{
    width: -webkit-fill-available;
    margin-top: 2%;
    background-color: #1a1e23;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.risk-table td{
    padding: 10px;
    text-align: center;
}

.risk-table thead{
    font: bold;
    height: 20px;
    background-color: #131518;
}

.risk-table tbody tr:nth-child(odd) td {
    background-color: #1e2126;
}

.risk-table tbody tr:nth-child(even) td {
    background-color: #15191e;
}

.container h4{
    color: #f6f8fa;
}
.btns .btn{
    width: 10%;
    gap:15px;
    background-color: cadetblue;
}