{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>SFINIX</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>


    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
    <script src="{% static 'vendor/typed.js/typed.min.js'%}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<link ref="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-2 col-xl-1 px-0 sidebar" >
                <div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2 text-white min-vh-100">
                    <!-- Spinning Infinity Logo -->
                    <div class="logo-container mb-2">
                        <img src="{% static 'images/infinity-logo.svg' %}" alt="Infinity Logo" class="infinity-logo">
                    </div>
    
                    <!-- Menu Text -->
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <!-- <span class="fs-5 fw-bold d-none d-sm-inline">Menu</span> -->
                    </a>
    
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item-user">
                            <a href="/" class="nav-link align-middle px-2">
                                <img src="{% static 'images/user.svg' %}" alt="User" >

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link align-middle px-2">
                                <i class="fs-5 bi-house"></i>
                                <span class="ms-1 d-none d-sm-inline">Market</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/portfolio_management/" class="nav-link align-middle px-2">
                                <i class="fs-5 bi-graph-up"></i>
                                <span class="ms-1 d-none d-sm-inline">Portfolio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/order_management/" class="nav-link align-middle px-2">
                                <i class="fs-5 bi-speedometer2"></i>
                                <span class="ms-1 d-none d-sm-inline">Order Management</span>
                            </a>
                        </li>

                    </ul>
                    <hr>
                </div>
            </div>
    
            <div class="col py-3">
                <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500 Index"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100 Cash CFD"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR to USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      }
    ],
    "showSymbolLogo": true,
    "isTransparent": true,
    "displayMode": "regular",
    "colorTheme": "dark",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    

</body>
</html>
